<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>

    <rewrite>
      <rules>

        <!-- Proxy Next.js -->
        <rule name="NextJS" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:9001/{R:1}" />
        </rule>

      </rules>
    </rewrite>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>
