<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NODE_ENV" value="production" />
    <add key="NEXT_PUBLIC_API_URL" value="http://160.25.62.77:9001" />
    <add key="NEXT_PUBLIC_SOCKET_URL" value="http://160.25.62.77:9001" />
    <add key="NEXT_PUBLIC_SHOW_MICROSOFT_LOGIN" value="false" />
    <add key="PORT" value="3000" />
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".env" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
    <iisnode 
      loggingEnabled="true" 
      logDirectory="iisnode" 
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="NextJS" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
