<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy API and Realtime to Nest (9000)" stopProcessing="true">
          <match url="^(api|realtime|socket.io)(.*)" />
          <action type="Rewrite" url="http://localhost:9000/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="FixLocationHeader" preCondition="IsRedirect">
          <match serverVariable="RESPONSE_Location" pattern="^http(s)?://localhost:9000/(.*)" />
          <action type="Rewrite" value="http{R:1}://{HTTP_HOST}/{R:2}" />
        </rule>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_Status}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <proxy>
      <reverseProxy enabled="true" />
    </proxy>
  </system.webServer>
</configuration>